@import 'vars';

$path: '#{$basepath}fonts/Roboto/'; // production
// $path: ''; // dev

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  src:
    url('#{$path}Roboto-Bold.woff2') format('woff2'),
    url('#{$path}Roboto-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 900;
  src:
    url('#{$path}Roboto-BlackItalic.woff2') format('woff2'),
    url('#{$path}Roboto-BlackItalic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  src:
    url('#{$path}Roboto-Black.woff2') format('woff2'),
    url('#{$path}Roboto-Black.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  src:
    url('#{$path}Roboto-Italic.woff2') format('woff2'),
    url('#{$path}Roboto-Italic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: bold;
  src:
    url('#{$path}Roboto-BoldItalic.woff2') format('woff2'),
    url('#{$path}Roboto-BoldItalic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src:
    url('#{$path}Roboto-Light.woff2') format('woff2'),
    url('#{$path}Roboto-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src:
    url('#{$path}Roboto-Medium.woff2') format('woff2'),
    url('#{$path}Roboto-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  src:
    url('#{$path}Roboto-LightItalic.woff2') format('woff2'),
    url('#{$path}Roboto-LightItalic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  src:
    url('#{$path}Roboto-MediumItalic.woff2') format('woff2'),
    url('#{$path}Roboto-MediumItalic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  src:
    url('#{$path}Roboto-Regular.woff2') format('woff2'),
    url('#{$path}Roboto-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  src:
    url('#{$path}Roboto-Thin.woff2') format('woff2'),
    url('#{$path}Roboto-Thin.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 100;
  src:
    url('#{$path}Roboto-ThinItalic.woff2') format('woff2'),
    url('#{$path}Roboto-ThinItalic.woff') format('woff');
  font-display: swap;
}
