@import 'vars';

$path: '#{$basepath}fonts/Nunito/'; // production
// $path: ''; // dev

@font-face {
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    src: local('Nunito'), url('#{$path}Nunito-Black.woff2') format('woff2'),
        url('#{$path}Nunito-Black.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    src: url('#{$path}Nunito-Bold.woff2') format('woff2'),
        url('#{$path}Nunito-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: Nunito;
    font-style: italic;
    font-weight: 900;
    src: url('#{$path}Nunito-BlackItalic.woff2') format('woff2'),
        url('#{$path}Nunito-BlackItalic.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: Nunito;
    font-style: normal;
    font-weight: 200;
    src: url('#{$path}Nunito-ExtraLight.woff2') format('woff2'),
        url('#{$path}Nunito-ExtraLight.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: Nunito;
    font-style: italic;
    font-weight: bold;
    src: url('#{$path}Nunito-BoldItalic.woff2') format('woff2'),
        url('#{$path}Nunito-BoldItalic.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: Nunito;
    font-style: italic;
    font-weight: bold;
    src: url('#{$path}Nunito-ExtraBoldItalic.woff2') format('woff2'),
        url('#{$path}Nunito-ExtraBoldItalic.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    src: url('#{$path}Nunito-ExtraBold.woff2') format('woff2'),
        url('#{$path}Nunito-ExtraBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    src: url('#{$path}Nunito-Light.woff2') format('woff2'),
        url('#{$path}Nunito-Light.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: Nunito;
    font-style: italic;
    font-weight: normal;
    src: url('#{$path}Nunito-Italic.woff2') format('woff2'),
        url('#{$path}Nunito-Italic.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: Nunito;
    font-style: italic;
    font-weight: 200;
    src: url('#{$path}Nunito-ExtraLightItalic.woff2') format('woff2'),
        url('#{$path}Nunito-ExtraLightItalic.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    src: url('#{$path}Nunito-Regular.woff2') format('woff2'),
        url('#{$path}Nunito-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: Nunito;
    font-style: italic;
    font-weight: 500;
    src: url('#{$path}Nunito-MediumItalic.woff2') format('woff2'),
        url('#{$path}Nunito-MediumItalic.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    src: url('#{$path}Nunito-Medium.woff2') format('woff2'),
        url('#{$path}Nunito-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: Nunito;
    font-style: italic;
    font-weight: 300;
    src: url('#{$path}Nunito-LightItalic.woff2') format('woff2'),
        url('#{$path}Nunito-LightItalic.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: Nunito;
    font-style: italic;
    font-weight: 600;
    src: url('#{$path}Nunito-SemiBoldItalic.woff2') format('woff2'),
        url('#{$path}Nunito-SemiBoldItalic.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    src: url('#{$path}Nunito-SemiBold.woff2') format('woff2'),
        url('#{$path}Nunito-SemiBold.woff') format('woff');
    font-display: swap;
}
